@model RetroStore.Models.ViewModels.ProductView

@{
    ViewData["Title"] = "Create Product";
}

<form id="createForm" onsubmit="return false" method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">Create Product</h2>
                    <hr />
                </div>

                <div class="mb-3">
                    <label asp-for="Product.Name"></label>
                    <input class="form-control" asp-for="Product.Name" />
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.Name"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Product.Description"></label>
                    <textarea class="form-control" asp-for="Product.Description" rows="3" cols="50"></textarea>
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.Description"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Product.ReleaseDate"></label>
                    <input class="form-control" asp-for="Product.ReleaseDate" type="date" min="1980-01-01" max="2025-01-01" />
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.ReleaseDate"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Product.GenreId"></label>
                    <select class="form-select" asp-for="Product.GenreId" asp-items="@Model.GenreListItems">
                        <option disabled selected></option>
                    </select>
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.GenreId"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.Developer"></label>
                    <input class="form-control" asp-for="Product.Developer" type="text" />
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.Developer"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.Publisher"></label>
                    <input class="form-control" asp-for="Product.Publisher" type="text" />
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.Publisher"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Product.Platform"></label>
                    <select class="form-select" asp-for="Product.Platform">
                        @foreach(Platform platform in Enum.GetValues(typeof(Platform))) {
                            <option value="@platform">@platform.GetDescription()</option>
                        }
                    </select>
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.Platform"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Product.ImageUrl"></label>
                    <input class="form-control" id="product-image-upload-field" name="file" type="file" />
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.ListPrice"></label>
                    <input class="form-control" asp-for="Product.ListPrice" />
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.ListPrice"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Product.Price"></label>
                    <input class="form-control" asp-for="Product.Price" />
                    <span class="text-danger d-block mb-3" asp-validation-for="Product.Price"></span>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary my-2 col-12" onclick="ValidateInput()">Create</button>
                    <a class="btn btn-secondary col-12" asp-controller="Products" asp-action="Index">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        const ValidateInput = () => {

            url = document.querySelector("#product-image-upload-field").value

            if (document.querySelector("#product-image-upload-field").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!',
                })
            } else {
                
                createForm.submit();
            }
        }
    </script>
}
