@{
    //TODO : Refine admin panel
    ViewData["Title"] = "Admin Panel";
}

<div>
    <a asp-action="CreateRole">Create New Role</a>
</div>

<div>
    <a asp-action="ListRoles">List Roles</a>
</div>

<div>
    <a asp-action="ListUsers">List User</a>
</div>

